*{
    margin: 0;
    background-color: rgb(141, 141, 141);
}

html,
body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #181818;
}

header{
    height: 57px;
    background-color: #212121;
}

nav{
    background-color: coral;
}
main{
    background-color: cornflowerblue;
}
aside{
    background-color: gold;
}