body{
    background-color: chartreuse;
}

header{
    background-color: black;
}

nav{
    background-color: coral;
}
main{
    background-color: cornflowerblue;
}
aside{
    background-color: gold;
}